
<br><br>
<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          
            <h1 class="text-center">Send Message to Customer</h1>

          <!-- {{staff | json}} -->

          <form (ngSubmit)="formSubmit()">
         
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Bug Id</mat-label>
              <input required [(ngModel)]="bug3.bugid" name="bugid" matInput placeholder="Enter here">
            </mat-form-field>

            
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email Id</mat-label>
              <input required [(ngModel)]="bug3.staffid" name="staffid" matInput placeholder="Enter here">
            </mat-form-field>

           
            <div class="conatiner text-center">

              <button type="submit" mat-raised-button color="primary">Send</button>

            </div>

          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<br><br>