/* .center {
    display: flex;
    background-color: #ff1124;
    justify-content: center;
    height: 100vh;
  }
  
  
  .center h1{
    align-self: center;
  }
  #contentwrapper{
    float: left;
    width: 100%;
    border-color: black;
    border: black;
  }

  #contentcolumn{
    margin: 0 200px 0 200px;

  }

  .innertext{
    margin: 20px;
    text-justify: distribute-all-lines;
    
  } */




  .home img {
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
  }
  
  .homecontent {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  .homecontent h1 {
    color: #2166c2;
    font-size: 30px;
    margin-left: 300px;
    margin-top: 40px;
  }
  .homecontent h2 {
    color: #2166c2;
    font-size: 20px;
    margin-left: 300px;
    margin-top: 50px;
  }
  .homecontent h5 {
    color: #6b7275;
    font-size: 20px;
    margin-left: 150px;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .homecontent a {
    margin-top: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .home img {
      height: 700px;
    }
    .homecontent h1 {
      font-size: 40px;
    }
  }
  