
<section class="home">
  <img src="../../assets/back.png">
<div class="homecontent">

<br><br>
            <h1 class="text-center" ><b>WELCOME TO ADMIN DASHBOARD</b></h1>
            <br><br><br><br><br>
            <!-- <mat-toolbar color="success"> -->
                <!-- <a routerLink="/" mat-raised-button color="accent" button class="ml20 mr20">  Home </a> -->
                <a [routerLink]="'/newbuglist'" mat-raised-button color="accent" button class="ml20 mr20">New Bug</a>
                <a [routerLink]="'/bugdetails'" button class="ml20 mr20" mat-raised-button color="accent">In Process</a>
                <a [routerLink]="'/buglist'" button class="ml20 mr20" mat-raised-button color="accent" >Completed</a>
                <a [routerLink]="'/addstaff'" mat-raised-button color="accent" button class="ml20 mr20">Add Staff </a>
                <a [routerLink]="'/assignbugs'" mat-raised-button color="accent" button class="ml20 mr20"> Assign Bug </a>
                <a [routerLink]="'/sendmsg'" mat-raised-button color="accent" button class="ml20 mr20">  Send Message </a>
                <!-- <a routerLink="/" mat-raised-button color="accent" button class="ml20 mr20">  Home </a> -->

                
              

              <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      
</div>
</section>
